<!-- <div [formGroup]="formGroup">
    <select class="form-control form-control-select" [formControlName]="'value'">
        <ng-container *ngFor="let option of options; let i = index">
            <option [value]="option.value.key">
                {{ option.value.description }}
            </option>
        </ng-container>
    </select>
</div> -->

<div class="dropdown">
    <button type="button" class="form-control form-input dropdown-toggle" [id]="id + '-form-control-select'"
        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" [disabled]="formGroup.disabled">
        {{description}}
    </button>
    <div class="dropdown-menu" [attr.aria-labelledby]="id + '-form-control-select'">
        <ng-container *ngFor="let option of options; let i = index">
            <div class="dropdown-item" (click)="onSelect(option)">
                {{ option.value.description }}


                <div
                    [ngClass]="{'dropdown-item-selected': option.value.key === value.value, 'd-none': option.value.key !== value.value }">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>

                </div>
            </div>
        </ng-container>
    </div>
</div>

