<h2 class="text-center">¿QUE TE PARECE LO QUE DICEN LOS CLIENTES?</h2>
<br>
<br>
    <div class="brands-container">
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/juany.jpg" class="img-fluid">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Juany Palacios</h5>
                  <p class="card-text">"Excelente servicio de reparación de refrigeradores. Rápidos y profesionales. ¡Mi congelador ya hace hielos!"</p>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/jaime.jpg" class="img-fluid">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Jaime Flores</h5>
                  <p class="card-text">"Muy satisfecho con el mantenimiento y reparación de mi minisplit. Ya enfría todo la sala."</p>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/carmen.jpg" class="img-fluid">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Carmen Martinez</h5>
                  <p class="card-text">Confío plenamente en su servicio de reparación de estufa. Solucionaron el problema rápidamente. Recomendados."</p>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/laura.jpg" class="img-fluid">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Laura Rodriguez</h5>
                  <p class="card-text">"Recomiendo ampliamente su servicio de reparación de lavadoras ya funciona como nueva, muy profesionales y no se diga la amabilidad."</p>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/alejandra.jpg" class="img-fluid">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Alejandra Sanchez</h5>
                  <p class="card-text">"Contraté su servicio para instalación eléctrica de la segunda planta de mi casa con la nueva remodelacion y quedé muy satisfecha."</p>
                </div>
              </div>
            </div>
          </div>

          

          
    </div>

