<br>
<br>
<br>
<br>
<br>
<footer class="bg-white text-black">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h4>Información de contacto</h4>
                <p>Dirección: 123 Calle Principal, Ciudad</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="col-md-6">
                <h4>Redes sociales</h4>
                <ul class="container-sm">
                    <li class="list-inline-item">
                        <a href="#">

                            <img class="image" src="assets/images/facebook.png" alt="Twitter">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="image" src="assets/images/twitter-logo.png" alt="Twitter">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="image" src="assets/images/instagram.png" alt="Instagram">
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">




        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">


                <ul class="navbar-nav">
                    <li class="nav-item">

                    <a class="nav-link"  [routerLink]="'about-page'">Nosotros</a>


                    </li>


                    <li class="nav-item">


                    <a class="nav-link" [routerLink]="'request-page'">Agenda</a>


                    </li>


                    <li class="nav-item">


                    <a class="nav-link"  [routerLink]="'contact-page'">Contactanos</a>

                    </li>

                </ul>

            </div>
        </div>
    </nav>

    

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">



        &copy; 2023 ReparoHoy. Todos los derechos reservados.


    </div>


</footer>