<!-- <div class="slide-container">
    <span *ngFor="let numberImage of [1,2,3,4,5,6,7]" class="slider-span" id="slider-span{{numberImage}}"></span>
    <div class="image-slider">
        <div *ngFor="let numberImage of [1,2,3,4,5,6,7]" class="slide-div" id="slide-{{numberImage}}">
            <img src="assets/images/img1.jpg" alt="" id="img{{numberImage}}" class="img"
                [ngClass]="{'slide-select':  numberImage === selectedNumberImage}" (click)="onSelect(numberImage)">
        </div>
    </div>
</div> -->
<h1 class="text-center">NUESTROS SERVICIOS</h1>
<br>
<br>
 
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="card" style="width: 18rem;">
            <div class="image-wrapper">
                <img src="assets/images/minisplit.jpg" alt="...">
            </div>
            <div class="card-body text-center">
              <h3>Reparamos Hoy</h3>
              <h5>Tu minisplit</h5>
              <p class="card-text">Te ayudamos a darle mantenimiento e instalación a tu minisplit. Somos tu mejor opción.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="card" style="width: 18rem;">
            <div class="image-wrapper">
            <img src="assets/images/lavadora.jpg" alt="...">
            </div>
            <div class="card-body text-center">
              <h3>Reparamos Hoy</h3>
              <h5>Tu lavadora</h5>
              <p class="card-text">Te ayudamos a seguir dandole vida a tu lavadora. Tenemos años de experiencia.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <div class="image-wrapper">
            <img src="assets/images/refrigerador.jpg"alt="...">
        </div>
            <div class="card-body text-center">
              <h3> Reparamos Hoy</h3>
              <h5>Tu refrigerador</h5>
              <p class="card-text">Te ayudamos a seguir dandole vida a tu refrigerador. Somos expertos en refrigeración.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <div class="image-wrapper">
            <img src="assets/images/estufa.jpeg" alt="...">
        </div>
            <div class="card-body text-center">
              <h3> Reparamos Hoy</h3>
              <h5>Tu estufa y microondas</h5>
              <p class="card-text">Te ayudamos a instalar, reparar y revisar tu estufa o microondas.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
         
        <div class="card" style="width: 18rem;">
            <div class="image-wrapper">
            <img src="assets/images/instalacion_electrica .jpg"  alt="...">
        </div>
            <div class="card-body text-center">
              <h3> Reparamos Hoy</h3>
              <h5>Tu instalación electrica</h5>
              <p class="card-text">¿Necesitas instalaciones electricas? Contáctanos.</p>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
