<div class="container-md">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <app-input-group [label]="'Nombre:'" [fc]="name">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre y Apellido">
        </app-input-group>
        <br>
        <app-input-group [label]="'Fecha:'" [fc]="date">
            <input type="date" class="form-control" id="date" formControlName="date" placeholder="fecha">
        </app-input-group>
        <br>
        <app-form-group [id]="'time'" [title]="'Hora'" [abstractControl]="time.controls['value']">
            <app-form-control-select [id]="'time'" [formGroup]="time">
            </app-form-control-select>
        </app-form-group>
        <br>
        <app-form-group [id]="'services'" [title]="'Servicios'" [abstractControl]="services">
            <app-form-control-select-multi [id]="'services'" [options]="servicesTypes" placeholder="Servicios">
            </app-form-control-select-multi>
        </app-form-group>
        <input type="submit" value="Enviar">

    </form>
</div>