
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider-action {
        color: red;
        position: absolute;
        top: 50%;
        z-index: 2;
        user-select: none;
        cursor: pointer;

        &.action-left {
            left: 10px;
        }
        &.action-right {
            right: 10px;
        }
    }

    .slider-track {
        display: flex;
        transform: translate3d(0, 0, 0);

        .slider-image {
            flex: 0 0 calc(100% / 3);
        }
    }

    .card {
    position: relative;
    overflow: hidden;
    scale: .7;
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad leve */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card:hover .card-img-overlay {
    opacity: 1; /* Mostrar al pasar el mouse */
  }
}

.image-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-wrapper img{
    height: 15vw;
    // width: 22vw;
    max-width: 100%;
    max-height: 100%;
}