<h1 class="text-center">NUESTROS SERVICIOS</h1>
<br>
<div class="slider-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <button class="carousel-control-prev slider-action action-left" (click)="moveSlider('left')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next slider-action action-right" (click)="moveSlider('right')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="slider-track" id="sliderTrack">
        <section class="slider-image"> 
            <div class="p-2">
                <div class="card">
                    <div class="image-wrapper">
                    <img class="card-img-top" src="assets/images/estufa.jpeg" alt="estufa">
                    </div>
                    <div class="card-body text-center">
                        <h3> Reparamos Hoy</h3>
                        <h5>Tu estufa y microondas </h5>
                        <p class="card-text-center">Te ayudamos a instalar, reparar y revisar tu estufa o microondas.</p>
                        <ul>
                            <li>Característica 1</li>
                            <!-- <li>Característica 2</li>
                            <li>Característica 3</li> -->
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between align-items-center">
                            Solicita tu cotización
                            <button class="btn btn-primary">Agenda Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slider-image"> 
            <div class="p-2">
                <div class="card">
                    <div class="image-wrapper">
                    <img class="card-img-top" src="assets/images/lavadora.jpg" alt="lavadora">
                    </div>
                    <div class="card-body text-center">
                        <h3>Reparamos Hoy</h3>
                        <h5>Tu lavadora</h5>
                        <p class="card-text-center">Te ayudamos a seguir dandole vida a tu lavadora. Tenemos años de experiencia.</p>
                        <ul>
                            <li>Característica 2</li>
                            <!-- <li>Característica 2</li>
                            <li>Característica 3</li> -->
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between align-items-center">
                            Solicita tu cotización
                            <button class="btn btn-primary">Agenda Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slider-image"> 
            <div class="p-2">
                <div class="card">
                    <div class="image-wrapper"> 
                    <img class="card-img-top" src="assets/images/minisplit.jpg" alt="minisplit">
                    </div>
                    <div class="card-body text-center">
                        <h3>Reparamos Hoy</h3>
                        <h5>Tu minisplit</h5>
                        <p class="card-text-center">Te ayudamos a darle mantenimiento e instalación a tu minisplit. Somos tu mejor opción.</p>
                        <ul>
                            <li>Característica 3</li>
                            <!-- <li>Característica 2</li>
                            <li>Característica 3</li> -->
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between align-items-center">
                            Solicita tu cotización
                            <button class="btn btn-primary">Agenda Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slider-image"> 
            <div class="p-2">
                <div class="card">
                    <div class="image-wrapper">
                    <img class="card-img-top" src="assets/images/instalacion.jpg" alt="instalacion">
                    </div>
                    <div class="card-body text-center">
                        <h3> Reparamos Hoy</h3>
                        <h5>Tu instalación electrica</h5>
                        <p class="card-text-center">¿Necesitas instalaciones electricas? ¿Tienes inseguridad de los cables de tu casa? Contáctanos.</p>
                        <ul>
                            <li>Característica 4</li>
                            <!-- <li>Característica 2</li>
                            <li>Característica 3</li> -->
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between align-items-center">
                            Solicita tu cotización
                            <button class="btn btn-primary">Agenda Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slider-image"> 
            <div class="p-2">
                <div class="card">
                    <div class="image-wrapper">
                    <img class="card-img-top" src="assets/images/refrigerador.jpg" alt="refrigerador">
                </div>
                    <div class="card-body text-center">
                        <h3>Reparamos Hoy</h3>
                        <h5>Tu refrigerador</h5>
                        <p class="card-text-center">Te ayudamos a seguir dandole vida a tu refrigerador. Somos expertos en refrigeración.</p>
                        <ul>
                            <li>Característica 5</li>
                            <!-- <li>Característica 2</li>
                            <li>Característica 3</li> -->
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between align-items-center">
                            Solicita tu cotización
                            <button class="btn btn-primary">Agenda Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>