<div class="slider-container" id="container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <div id="btnLeft" class="slider-action action-left">
        LEFT
    </div>

    <div id="btnRight" class="slider-action action-right">
        RIGHT
    </div>


    <div class="slider-track" id="sliderTrack">
        <div> <img class="slider-image" src="https://picsum.photos/id/10/200/200"> </div>
        <div> <img class="slider-image" src="https://picsum.photos/id/22/200/200"> </div>
        <div> <img class="slider-image" src="https://picsum.photos/id/43/200/200"> </div>
        <div> <img class="slider-image" src="https://picsum.photos/id/74/200/200"> </div>
        <div> <img class="slider-image" src="https://picsum.photos/id/51/200/200"> </div>
    </div>
</div>