.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider-action {
        color: red;
        position: absolute;
        top: 50%;
        z-index: 2;
        user-select: none;
        cursor: pointer;

        &.action-left {
            left: 10px;
        }
        &.action-right {
            right: 10px;
        }
    }
}

.slider-track {
    display: flex;
    transition: transform 0.3s ease;
}

/* Asegúrate de establecer el ancho adecuado para las imágenes o cards */
.slider-track div {
    flex: 0 0 calc(100% / 3);
}

.slider-image {
    width: 100%;
    // height: 350px;
}
