.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slider-action {
        color: red;
        position: absolute;
        top: 50%;
        z-index: 2;
        user-select: none;
        cursor: pointer;

        &.action-left {
            left: 10px;
        }
        &.action-right {
            right: 10px;
        }
    }

    .slider-track {
        display: flex;
        transform: translate3d(0, 0, 0);

        .slider-image {
            flex: 0 0 calc(100% / 3);
        }
    }
}
