<div class="slider-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <div class="slider-action action-left" (click)="moveSlider('left')">
        LEFT
    </div>

    <div id="btnRight" class="slider-action action-right" (click)="moveSlider('right')">
        RIGHT
    </div>

    <div class="slider-track" id="sliderTrack">
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>
        <section class="slider-image"> <app-slide></app-slide> </section>

    </div>
</div>