<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-input-group [label]="'Nombre:'"  [fc]="form.controls.name">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre y Apellido">
    </app-input-group><br>
    <app-input-group [label]="'Email:'"  [fc]="form.controls.email">
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Correo electronico">
    </app-input-group><br>
    <app-input-group [label]="'Telefono:'"  [fc]="form.controls.phone">
        <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Telefono">
    </app-input-group><br>
    <app-input-group [label]="'Comentarios:'"  [fc]="form.controls.comments">
        <textarea class="form-control" id="comments" formControlName="comments" placeholder="Comentarios"></textarea>
    </app-input-group><br>

    
    <!-- <div class="mb-3">
        <label for="email" class="form-label">Correo eléctronico</label>
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Telefono</label>
    </div>

    <div class="mb-3">
        <label for="comments" class="form-label">Comentarios</label>
    </div> -->
    <br>
    <input type="submit" value="Enviar">

</form>