:host {
    display: flex;
    user-select: none;
    flex-direction: column;

    .form-control-checkbox {
        padding-bottom: 5px;

        .form-control-checkbox-label {
            padding-left: 22px;
            // border: 1px solid red;

            &:hover {
                color: rgb(108, 108, 208);
            }
        }
    }
}
