<h1 class="text-center">MARCAS CON LAS QUE TRABAJAMOS</h1>
<br>
<br>

<div class="row text-center">
  <div class="col">
    <figure class="figure">
      <img src="assets/images/Whirlpool-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/Lg-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/mabe-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
</div>
<br>


<div class="row text-center">
  <div class="col">
    <figure class="figure">
      <img src="assets/images/Maytag-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/Samsung-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/easy-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
</div>
<br>


<div class="row text-center">
  <div class="col">
    <figure class="figure">
      <img src="assets/images/mirage-logo.webp" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/frikko-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/Daewoo-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
</div>
<br>

<div class="row text-center">
  <div class="col">
    <figure class="figure">
      <img src="assets/images/carrier-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/generalelectric-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
  <div class="col">
    <figure class="figure">
      <img src="assets/images/midea-logo.png" class="figure-img img-fluid rounded" alt="easy-logo">
    </figure>
  </div>
</div>
<br>