<div class="container-md">
    <div class="row">
        <div class="col-6">
            <label [for]="id">{{label}}</label>

            <ng-content>
            </ng-content>

            <div *ngIf="fc.invalid && fc.touched && fc.errors ">
                <div *ngIf="fc.errors['required']">
                    Este campo es obligatorio.
                </div>
                <div *ngIf="fc.errors['minlength']">
                    El valor debe tener al menos {{ fc.errors['minlength'].requiredLength }} caracteres.
                </div>
                <div *ngIf="fc.errors['maxlength']">
                    El valor no puede exceder los {{ fc.errors['maxlength'].requiredLength }} caracteres.
                </div>
                <div *ngIf="fc.errors['email']">
                    Este campo debe ser un correo electronico.
                </div>
            </div>
            <!-- <div >
           {{fc.errors | json}}
        </div> -->
        </div>
        <div class="col-6">
            <div>
                MAPA

            </div>
        </div>
    </div>
</div>