<!-- <p>slide works!</p>
<img src="https://picsum.photos/id/10/300/200?"> 0 -->
<div class="p-2">


    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/id/10/300/200" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Título del Servicio</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            <ul>
                <li>Característica 1</li>
                <li>Característica 2</li>
                <li>Característica 3</li>
                <!-- Agrega más características aquí -->
            </ul>
            <!-- Precio del servicio -->
        </div>
        <div class="card-footer ">

            <div class="d-flex justify-content-between align-items-center">
                Precio: $XX.XX
                <button class="btn btn-primary">Agendar Servicio</button>

            </div>
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        </div>
    </div>


</div>