@mixin placeholder {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    color: var(--bs-base-dark-lighter);
}

@mixin placeholder-all {
    /* IE 10+ */
    &:-ms-input-placeholder {
        @include placeholder;
    }
    /* Firefox 19+ */
    &::-moz-placeholder {
        @include placeholder;
    }
    /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
        @include placeholder;
    }
    /* Firefox 18- */
    &:-moz-placeholder {
        @include placeholder;
    }
    &::placeholder {
        @include placeholder;
    }
}

.form-group-component {
    text-align: left;

    .form-group-label {
        // font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        // font-size: 14px;
        color: var(--bs-base-dark-light);
        text-align: left;

        .form-group-required {
            color: red;
        }
    }

    .form-group-content {
        margin-top: 0.5rem;
        position: relative;
    }

    .form-group-warning {
        font-size: 10px;
        font-weight: 500;
        line-height: 17px;
        color: var(--bs-danger);
    }
}

// styles for transclusion elements (ng-content)

.form-control,
.form-textarea,
.form-select {
    background-color: var(--bs-base-light);
}

.form-control {
    font-weight: 500;
    height: 40px;

    // font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    // font-size: 16px;

    // padding: 0.375rem 1.25rem;
    border-radius: 6px;
    color: var(--bs-base-dark-light);

    @include placeholder-all;
}

.form-textarea {
    height: 130px;
    padding: 1rem;
}

.form-select {
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    option {
        color: var(--bs-base-dark-light);
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &.form-select-placeholder {
        @include placeholder;
    }
}

.btn-sm,
.form-select-sm,
.form-control-sm {
    height: 30px;
    min-height: 30px;
}

// to end!
.form-group-valid {
    .form-control,
    .form-select,
    .form-textarea {
        border: 1px solid var(--bs-primary) !important;
    }
}

.form-group-invalid {
    .form-control, //todo: refactor all elements to apply the form-control class to set border as danger
    .form-select,
    .form-textarea {
        border: 1px solid var(--bs-danger) !important;
    }
}
